.account_style {
  @font-face {
    font-family: 'Nunito Sans';
    src: url(//bizweb.dktcdn.net/100/350/547/themes/812519/assets/nunitosans-regular.woff?1638813614069)
      format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Nunito Sans';
    src: url(//bizweb.dktcdn.net/100/350/547/themes/812519/assets/nunitosans-bold.woff?1638813614069)
      format('woff');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
  }

  .account-action .active {
    color: var(--mainColor);
  }
  #my-orders-table thead th,
  #order_details thead th {
    background-color: var(--mainColor);
    color: #fff;
    vertical-align: middle;
  }
  .error {
    color: red;
  }
  .whites {
    color: #fff;
  }
  a.whites:hover {
    color: #e14b33;
  }
  .border-mew {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .squa-mew {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mew-control {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 25px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  }
  .mew-control.main_bt {
    background: var(--mainColor);
  }
  .mew-control::-webkit-input-placeholder {
    color: #fff;
  }
  .mew-control:-ms-input-placeholder {
    color: #fff;
  }
  .mew-control::placeholder {
    color: #fff;
  }
  .mew-control[type='submit'] {
    max-width: 130px;
    border-radius: 25px;
  }
  .login-layout,
  .register-layout {
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--mainColor), #62a0d8);
  }
  .login-layout .box_log,
  .register-layout .box_log {
    max-width: 100%;
  }
  .login-layout .box_log .square,
  .register-layout .box_log .square {
    animation: mewup 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
    pointer-events: none;
  }
  .login-layout .box_log .square:nth-child(1),
  .register-layout .box_log .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
  }
  .login-layout .box_log .square:nth-child(2),
  .register-layout .box_log .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 115px;
    height: 115px;
    z-index: 2;
  }
  .login-layout .box_log .square:nth-child(3),
  .register-layout .box_log .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 75px;
    height: 75px;
    z-index: 2;
  }
  .login-layout .box_log .square:nth-child(4),
  .register-layout .box_log .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
  }
  .login-layout .box_log .square:nth-child(5),
  .register-layout .box_log .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 55px;
    height: 55px;
  }
  .login-layout .box_log .b_big,
  .register-layout .box_log .b_big {
    width: 500px;
    max-width: 100%;
  }
  @keyframes mewup {
    0%,
    100% {
      transform: translateY(-40px);
    }
    50% {
      transform: translateY(40px);
    }
  }
  .sml {
    font-size: 1.25rem;
  }
  .out {
    background: var(--mainColor);
    transition: all 0.5s;
  }
  .out a {
    color: #fff;
    font-size: 1.1rem;
  }
  .out:hover {
    filter: brightness(0.7);
  }
  .lk {
    border-radius: 0;
  }
  .lk:hover {
    border-radius: 20px;
  }
  .line_cus {
    display: flex;
    min-height: 54px;
    align-items: center;
    padding: 5px 10px;
    border: solid 1px;
    border-radius: 5px;
    line-height: normal;
  }
  .buttons-set {
    margin-bottom: 15px;
  }
  .log_iso {
    padding: 7px 0;
    margin-bottom: 16px;
  }
  .log_iso span {
    font-size: 16px;
    color: var(--mainColor);
    padding: 1px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    z-index: 1;
    background: #fff;
  }
  .log_iso:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 21px;
  }
  .social-login--google,
  .social-login--facebook {
    margin: auto;
  }
  .btn-close.close {
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 40px;
    width: 55px;
  }
  .form-control:focus {
    border-color: var(--mainColor);
    box-shadow: none;
  }
  .bn_res {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .position-absolute.center {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
  }
  .btn-big {
    font-size: 20px;
  }
  .sum_mb {
    float: right;
    color: red;
  }
  h2.title-head {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }
  .title_order {
    color: var(--mainColor);
  }
  @media (max-width: 992px) {
    .my-account .table-responsive-block .table-cart thead th {
      display: none;
    }
  }
  @media (max-width: 992px) {
    .my-account .table-responsive-block tbody .first {
      border-top: 0 !important;
      border: 1px solid #e1e1e1;
      margin-bottom: 20px;
      display: block;
    }
  }
  @media (max-width: 992px) {
    .my-account .table-responsive-block tbody .first td {
      border: none;
      position: relative;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
      width: 100% !important;
    }
    .my-account .table-responsive-block tbody .first td:nth-child(1) {
      padding-left: 83px;
      border-top: #e1e1e1 1px solid;
    }
    .my-account .table-responsive-block tbody .first td:nth-child(2) {
      padding-left: 55px;
    }
    .my-account .table-responsive-block tbody .first td:nth-child(3) {
      padding-left: 63px;
    }
    .my-account .table-responsive-block tbody .first td:nth-child(4) {
      padding-left: 125px;
    }
    .my-account .table-responsive-block tbody .first td:nth-child(5) {
      padding-left: 116px;
    }
    .my-account .table-responsive-block tbody .first td:nth-child(6) {
      padding-left: 117px;
    }
    .my-account .table-responsive-block tbody .first td:before {
      position: absolute;
      top: 13px;
      font-size: 14px;
      left: 10px;
      padding-right: 10px;
      text-align: left;
      white-space: nowrap;
      font-weight: bold;
      display: block;
    }
  }
  @media (max-width: 767px) {
    .head-title .order_date {
      display: block;
      width: 100%;
      margin: 10px 0;
    }
  }
  @media (max-width: 992px) {
    .table-order {
      padding: 0;
      border: 0;
    }
  }
  .table-order .table {
    margin: 0;
  }
  @media (max-width: 992px) {
    .table-order .table-cart thead tr th {
      display: none;
    }
  }
  @media (max-width: 992px) {
    .table-order .table-cart tbody tr {
      border-top: 0 !important;
      display: block;
    }
    .table-order .table-cart tbody tr:last-child {
      border-bottom: 1px solid #e1e1e1;
    }
  }
  @media (min-width: 992px) {
    .table-order .table-cart tbody tr td.link {
      justify-content: center;
      align-items: center;
      display: flex;
      min-height: 130px;
    }
    .table-order .table-cart tbody tr td.link .image_order {
      padding-right: 10px;
    }
  }
  @media (max-width: 992px) {
    .table-order .table-cart tbody tr td {
      border-bottom: none;
      position: relative;
      padding-right: 10px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      width: 100% !important;
    }
    .table-order .table-cart tbody tr td:first-child {
      border-top: #e1e1e1 1px solid;
      padding-top: 10px;
    }
    .table-order .table-cart tbody tr td:nth-child(2) {
      display: none;
    }
    .table-order .table-cart tbody tr td:nth-child(3) {
      display: none;
    }
    .table-order .table-cart tbody tr td:nth-child(4) {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .table-order .table-cart tbody tr td .image_order {
      width: 50px;
    }
  }
  @media (max-width: 767px) {
    .table-order .table-cart tbody tr td .image_order a {
      height: 50px;
    }
  }
  @media (max-width: 992px) {
    .table-order .table-cart tbody tr td .content_right {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      text-align: left;
      min-width: calc(100% - 50px);
    }
  }
  @media (max-width: 767px) {
    .table-order .table-cart tbody tr td .content_right p {
      margin: 5px 0 0;
    }
  }
  @media (min-width: 992px) {
    .table-order .table-cart tbody tr td .content_right .bottom_mb {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .table-order .totalorders tr td {
      padding: 10px 5px;
    }
  }
  .table-order .totalorders tr td:first-child {
    width: 75%;
  }
  @media (max-width: 767px) {
    .table-order .totalorders tr td:first-child {
      width: 45%;
    }
  }
  @media (max-width: 992px) {
    .table-responsive-block .table-order td:nth-of-type(1):before {
      content: 'Đơn hàng:';
    }
    .table-responsive-block .table-order td:nth-of-type(2):before {
      content: 'Ngày:';
    }
    .table-responsive-block .table-order td:nth-of-type(3):before {
      content: 'Địa chỉ:';
    }
    .table-responsive-block .table-order td:nth-of-type(4):before {
      content: 'Giá trị đơn hàng:';
    }
    .table-responsive-block .table-order td:nth-of-type(5):before {
      content: 'TT Thanh toán:';
    }
    .table-responsive-block .table-order td:nth-of-type(6):before {
      content: 'TT Vận chuyển:';
    }
    .table-responsive-block .totalorders td:nth-of-type(1):before {
      content: 'Phí vận chuyển';
    }
    .table-responsive-block .totalorders td:nth-of-type(2):before {
      content: 'Tổng tiền';
    }
    .table-responsive-block .totalorders td:nth-of-type(3):before {
      content: 'Số lượng';
    }
    .table-responsive-block .totalorders td:nth-of-type(4):before {
      content: 'Tổng';
    }
    .table-responsive-block .totalorders td:nth-of-type(5):before {
      content: 'Tình trạng';
    }
  }
}
